.panel-primary {
    border-color:rgba(17, 85, 123, 1) !important;
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: rgba(17, 85, 123, 1) !important;
    border-color: rgba(17, 85, 123, 1) !important;
  }
  .panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(17, 85, 123, 1) !important;
  }
  .panel-primary > .panel-heading .badge {
    color: rgba(17, 85, 123, 1) !important;
    background-color: #fff;
  }
  .panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(17, 85, 123, 1) !important;
  }